.container {
    display: grid;
    grid-template-columns: 20% repeat(4, 15%) 20%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: "header header header header header header" ". item1 item1 img1 img1 ." ". item2 item2 item2 item2 ."
}

header {
    grid-area: header;
    background-color: black;
    color: white;
    align-self: center;
    text-align: center;
}

.item1 {
    text-align: center;
    grid-area: item1;
    width: 70%;
    justify-self: end;
    align-self: start;
}

.img1 {
    grid-area: img1;
    align-self: center;
}

.img1 img {
    width: 500px;
}

.item2 {
    grid-area: item2;
}

.item2 img {
    width: 100px;
}